.wrapper {
  overflow: auto;

  :global {
    .ant-comment {
      &-inner {
        padding: $align-8 0;
      }

      &-content {
        background-color: $bg-primary-light;
        padding: $align-8;
        border-radius: 8px;

        &-author {
          margin-bottom: $align-8;

          &-name {
            font-size: $font-size-3;
            font-weight: $font-weight-500;
          }
          &-time {
            font-size: $font-size-4;
            color: $text-color-secondary;
          }
        }

        &-detail {
          font-size: $font-size-2;
        }
      }
    }
  }
}
