@primary-color: #dc3a61;
@link-color: #547aff;
@link-hover-color: #232bcb;

@font-family: Roboto, sans-serif;

@border-radius-base: 8px;
@component-background: @background-color-light;

// card
@card-padding-base: 16px;

// Tabs
@tabs-title-font-size: 1.14rem;
@tabs-title-font-size-lg: 1.28rem;
@tabs-highlight-color: @text-color;

// Menu item
@menu-item-padding-horizontal: 16px;

// Layout
@layout-header-height: 80px;
