.wrapper {
  padding-top: $align-64;
  padding-bottom: $align-32;
}

.tag {
  display: inline-block !important;
  background-color: $bg-primary-light;
  border-radius: $border-radius-round;
}

.stock-price {
  margin-top: $align-32;
}

@include lg {
  .wrapper {
    padding-top: $align-32;
  }
}
