.wrapper {
  padding: $align-64 $align-96;
}

.stock-price {
  margin-top: $align-32;
}

@include tablet {
  .wrapper {
    padding: $align-64;
  }
}

@include mobile {
  .wrapper {
    padding: $align-16;
  }
}
