.button {
  border: none;
  display: flex;
  align-items: center;
  padding: $align-8 $align-24;
  border-radius: 4px;
  background-color: #4267b2;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}
