.tab {
  :global {
    .ant-tabs {
      &-nav {
        flex: 1 !important;

        @include mobile {
          flex: unset !important;
        }
      }

      &-content-holder {
        flex: 3 !important;
      }

      &-tab {
        padding-left: 0 !important;

        &-btn {
          font-size: 1rem;
        }

        &-active {
          .ant-tabs-tab-btn {
            color: $primary-color !important;
          }
        }
      }

      &-tabpane {
        padding-left: $align-32 !important;
        padding-bottom: $align-32;

        @include mobile {
          padding-left: 0 !important;
          padding-bottom: 0;
        }
      }
    }
  }
}
