body {
  --primary-color: #dc3a61;
  --link-color: #547aff;

  &[data-theme='light'] {
    /* background color */
    --bg-primary: #ffffff;
    --bg-primary-light: #e6e6f3;
    --bg-secondary: #d4d4e3;

    /* text color */
    --text-color: #11263c;
    --text-color-secondary: #393d56;

    /* others */
    --green-color: #2bde73;
    --red-color: #eb5757;
    --border-color: #ebeced;
  }

  &[data-theme='dark'] {
    /* background color */
    --bg-primary: #141416;
    --bg-primary-light: #24262e;
    --bg-secondary: #4a4a58;
    $bg-primary: var(--bg-primary);
    /* text color */
    --text-color: #ebeced;
    --text-color-secondary: #757a8b;

    /* others */
    --green-color: #2bde73;
    --red-color: #eb5757;
    --border-color: #31343e;
  }
}