.container {
  :global {
    .apexcharts-tooltip {
      background: $bg-primary-light !important;
      border: 1px solid $border-color !important;
      padding: $align-8 $align-16;
      box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.06);
    }
  }

  .chart-tooltip {
    &__title {
      margin-bottom: $align-8;
      background: transparent !important;
      border-bottom: none !important;
      color: $text-color-secondary;
    }
    &-content {
      @include styled-text($font-size-1, $line-height-1, $font-weight-700);
    }
  }
}
