.tooltip {
  &-title {
    margin-bottom: $align-8;
    background: transparent !important;
    border-bottom: none !important;
    color: $text-color-secondary;
  }
  &-content {
    @include styled-text($font-size-1, $line-height-1, $font-weight-700);
  }
}
